extends post_login_layout
  
block content 
  div(id="awkward_content")
    p hier nur ein Link der dem Hintergrundfoto beigefügt werden sollte. Falls Sie das nicht verlangen ignorieren Sie die ganze "Seite" bitte einfach, ich wusste nicht wo ich es sonst platzieren sollte. Aus ästhetischen Gründen wollte ich es nicht auf jede einzelne page setzen.
    
    a(href='https://www.freepik.com/photos/background') Background photo created by natanaelginting - www.freepik.com</a>
