extends pre_login_layout.pug

block head
  title Login

block content

  div(class="mask d-flex align-items-center h-100 gradient-custom-3")
    div(class="container h-100")
      div(class="row d-flex justify-content-center align-items-center h-100")
        div(class="col-12 col-md-9 col-lg-7 col-xl-6")
          div(class="card" style="border-radius: 15px;")
            div(class="card-body p-5")
              h2(class="text-uppercase text-center mb-5") Login

              form(id="login_form", action="/login", method="post")

                div(class="form-outline mb-4")
                  label(class="form-label" for="username") Nutzername
                  input(type="text" id="username" name="username" class="form-control form-control-lg" placeholder="Name")

                div(class="form-outline mb-4")
                  label(class="form-label" for="password") Passwort
                  input(type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Passwort")

                div(class="d-flex justify-content-center")
                  button(type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body") Anmelden

                p(class="text-center text-muted mt-5 mb-0") Sie sind noch nicht registriert? 
                  a(href="/register" class="fw-bold text-body text-center") Hier registrieren!
                  
  if error 
    div(class="container")
      div(class="alert alert-danger") Error: #{error}
