extends post_login_layout

block head
  title Verkauf

block content
  
  div(class="mask d-flex align-items-center h-100 gradient-custom-3")
    div(class="container h-100")
      div(class="row d-flex justify-content-center align-items-center h-100")
        div(class="col-12 col-md-9 col-lg-7 col-xl-6")
          div(class="card" style="border-radius: 15px;")
            div(class="card-body p-5")
              h2(class="text-uppercase text-center mb-5") Aktie verkaufen

              form(id="sbq_form", action="/sell", method="post")

                div(class="form-outline mb-4")
                  label(class="form-label" for="symbol") Tickersymbol
                  input(type="text" id="symbol" name="symbol" class="form-control form-control-lg" placeholder="z.B. AAPL")
                    
                div(class="form-outline mb-4")
                  label(class="form-label" for="shares") Anzahl Aktien
                  input(type="number" id="shares" name="shares" class="form-control form-control-lg" placeholder="z.B. 1")
                    
                div(class="d-flex justify-content-center")
                  button(type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body") Verkaufen


          
  if error 
    div(class="container")
      div(class="alert alert-danger") Error: #{error}

  if balance
    div(class="container")
      div(class="alert alert-success") Ihr neuer Kontostand beträgt #{balance}
